
    <div class="w-container">
        <div class="select-class-list">
            <div class="w-select-container">
                <label class="control-label pull-left">教学基地：</label>
                <select id="selectAddress" class="form-control">
                    <option>远程</option>
                    <option>深大师范学院</option>
                    <option>宝安职校</option>
                    <option>深职院</option>
                    <option>信息学院</option>
                    <option>红岭中学基地</option>
                    <option>翠园中学基地</option>
                    <option>华侨城中学基地</option>
                    <option>田东中学基地</option>
                    <option>海湾中学基地</option>
                    <option>南外文华基地</option>
                    <option>桂园小学基地</option>
                    <option>博伦职校基地</option>
                    <option>盐田外国语小学基地</option>
                </select>
            </div>
            <div class="content">
                <div>
                    <b style="color: #77BA4F">面授</b><img src="/images/011.png" width="16px" height="16px" style="margin-top: -2px"/>
                    <button  class="select-btn1 btn btn-sm btn-primary pull-right">我要选课</button>
                </div>
                <a href="/course/detail?sc=1">
                    <b style="color: #337ab7">[20151-089] 2013公需课 组合1</b><br/>
                    <b style="color: #337ab7">(教师职业道德规范-新时期广东生态文明建设)</b>
                </a><br/>
                <span>学习费用：120</span>
                <span style="margin-left: 15%">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时：12</span><br/>
                <span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分：12</span>
                <span style="margin-left: 15%">上课地点：深大</span><br/>
                <span>开通时间-结束时间：2015/10/18-2015/10/25</span>
            </div>
            <div class="content">
                <div>
                    <b style="color: #77BA4F">面授</b><img src="/images/011.png" width="16px" height="16px" style="margin-top: -2px"/>
                    <b style="color: #cccccc">+</b>
                    <b style="color: #2F87FF">远程</b><img src="/images/010.png" width="16px" height="16px" style="margin-top: -2px"/>
                    <button  class="select-btn2 btn btn-sm btn-primary pull-right">我要选课</button>
                </div>
                <a href="/course/detail?sc=1">
                    <b style="color: #337ab7">[20151-089] 2013公需课 组合1</b><br/>
                    <b style="color: #337ab7">(教师职业道德规范-新时期广东生态文明建设)</b>
                </a><br/>
                <span>学习费用：120</span>
                <span style="margin-left: 15%">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时：12</span><br/>
                <span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分：12</span>
                <span style="margin-left: 15%">上课地点：深大</span><br/>
                <span>开通时间-结束时间：2015/10/18-2015/10/25</span>
            </div>
        </div>
    </div>

    <div style="margin-top: 150px" class="modal fade" id="selectSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">选课成功</h4>
                </div>
                <div class="modal-body">
                    本门课程选课成功，等待单位审批
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 150px" class="modal fade" id="selectFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">选课失败</h4>
                </div>
                <div class="modal-body">
                    此课程人数已满，请重新选课
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div>
        </div>
    </div>
