<div class="container unit-management">
    <div>
        <a ui-sref="newAssessment" class="col-xs-4 text-center">
            <img src="/images/xskh.png"/>
            <p>新生考核</p>
        </a>
        <a ui-sref="photoAudit" class="col-xs-4 text-center">
            <img src="/images/zpsh.png"/>
            <p>照片审核</p>
        </a>
        <a ui-sref="courseManagement" class="col-xs-4 text-center">
            <img src="/images/xkgl.png"/>
            <p>选课管理</p>
        </a>
    </div>
    <div>
        <a ui-sref="querySchedule" class="col-xs-4 text-center">
            <img src="/images/kbcx.png"/>
            <p>课标查询</p>
        </a>
        <a ui-sref="changeSchool" class="col-xs-4 text-center">
            <img src="/images/zxgl.png"/>
            <p>转校管理</p>
        </a>
        <a ui-sref="adminApplication" class="col-xs-4 text-center">
            <img src="/images/gly.png"  alt=""/>
            <p>管理员申请/转让</p>
        </a>
    </div>
</div>